
#wb_header { height: 166px; }
#wb_header > .wb_cont_bg { background-color: transparent; }
#wb_header > .wb_cont_bg:before { background: transparent none repeat left top; background-size: auto auto; opacity: 1; }
#wb_main { height: 1140px; background-color: transparent; }
#wb_main:before { background: transparent none repeat left top; background-size: auto auto; opacity: 1; }
#wb_footer { height: 81px; }
#wb_footer > .wb_cont_bg { background-color: transparent; }
#wb_footer > .wb_cont_bg:before { background: transparent none repeat scroll left top; }
html { scroll-behavior: smooth; }
body { background-color: #000000; }
body.site:before { background: transparent none repeat scroll center top; background-size: auto auto; opacity: 0.1; }
.wb_sbg { background: transparent none repeat-x left top; }
body, .wb_sbg { min-width: 1200px; min-height: 1387px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1387px; min-height: 1387px; }
#wb_element_instance0 { top: 47px; left: 110px; min-width: 250px; width: 250px; min-height: 36px; height: 36px; display: block; z-index: 57; }
#wb_element_instance1 { top: -1120px; left: -1620px; min-width: 3415px; width: 3415px; min-height: 2237px; height: 2237px; display: block; z-index: 55; overflow: hidden; }
#wb_element_instance1 img { width: 3075px; height: 2013.8430313947px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance2 { top: 36px; left: 1040px; min-width: 112px; width: 112px; min-height: 45px; height: 45px; display: block; z-index: 75; }
#wb_element_instance2 img { width: 112px; height: 45px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance3 { top: 42px; left: 0px; min-width: 100px; width: 100px; min-height: 30px; height: 30px; display: block; z-index: 50; }
#wb_element_instance4 { top: 220px; left: 0px; min-width: 1200px; width: 1200px; min-height: 72px; height: 72px; display: block; z-index: 74; }
#wb_element_instance5 { top: 310px; left: 180px; min-width: 840px; width: 840px; min-height: 145px; height: 145px; display: block; z-index: 75; }
#wb_element_instance6 { top: 40px; left: 470px; min-width: 283px; width: 283px; min-height: 143px; height: 143px; display: block; z-index: 76; }
#wb_element_instance6 img { width: 283px; height: 143px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance7 form .form-area-field { height: 163px; }
#wb_element_instance7 { top: 742px; left: 100px; min-width: 680px; width: 680px; min-height: 315px; height: 315px; display: block; z-index: 79; }
#wb_element_instance8 { top: 662px; left: 100px; min-width: 680px; width: 680px; min-height: 46px; height: 46px; display: block; z-index: 81; }
#wb_element_instance9 { top: 820px; left: 825px; min-width: 340px; width: 340px; min-height: 112px; height: 112px; display: block; z-index: 82; }
#wb_element_instance10 { top: 926px; left: 825px; min-width: 340px; width: 340px; min-height: 48px; height: 48px; display: block; z-index: 83; }
#wb_element_instance11 { top: 780px; left: 825px; min-width: 340px; width: 340px; min-height: 24px; height: 24px; display: block; z-index: 84; }
#wb_element_instance12 i { width: 140px; height: 87px; font-size: 87px; }
#wb_element_instance12 { top: 651px; left: 800px; min-width: 140px; width: 140px; min-height: 87px; height: 87px; display: block; z-index: 88; }
#wb_element_instance13 { top: 550px; left: 0; right: 0; min-height: 590px; height: 590px; display: block; z-index: 77; }
#wb_element_instance13 > .wb_shp { display: block; background-color: #8f6b09; border: 1px none #000000; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 590px; }
#wb_element_instance13 > .wb_shp:before { background: transparent url("../gallery_gen/4a2c0fbcb1ac771e6377636b307723d5.jpg") repeat scroll center center; background-size: cover; opacity: 0.1; }
#wb_element_instance14 { top: 95px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance0 p:last-child { margin-bottom: 0; }
#wb_element_instance0 { opacity: 1; }
#wb_element_instance1 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px none #d1d1d1; box-sizing: border-box; overflow: hidden; }
#wb_element_instance2 { opacity: 1; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance3 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 10px solid #e6ce37;; }
#wb_element_instance4 p:last-child { margin-bottom: 0; }
#wb_element_instance4 { opacity: 1; }
#wb_element_instance5 p:last-child { margin-bottom: 0; }
#wb_element_instance5 { opacity: 1; }
#wb_element_instance6 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px none #d1d1d1; box-sizing: border-box; overflow: hidden; }
#wb_element_instance7 form td { text-align: right; }
#wb_element_instance7 form tr.area-row > th { height: 1%; }
#wb_element_instance7 form tr.area-row > td { height: 1%; }
#wb_element_instance7 form tr.form-footer > td { height: 20px; }
#wb_element_instance8 p:last-child { margin-bottom: 0; }
#wb_element_instance8 { opacity: 1; }
#wb_element_instance9 p:last-child { margin-bottom: 0; }
#wb_element_instance9 { opacity: 1; }
#wb_element_instance10 p:last-child { margin-bottom: 0; }
#wb_element_instance10 { opacity: 1; }
#wb_element_instance11 p:last-child { margin-bottom: 0; }
#wb_element_instance11 { opacity: 1; }
#wb_element_instance12 { opacity: 1; }
#wb_element_instance12 i { position: absolute; left: 0px; top: 0px; text-align: center; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
